.Score {
    width:50px;
    height:50px;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.Score span {
    width:100%;
    font-size:30px;
    font-weight: bold;
    margin-left: 80px;
    color: #000;
}

.Score--white {
    background: white;
    color:black;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
}

.Score--black {
    background: black;
    color:white;
}